.search-bar {
  margin: 25px 0;
}

.search-bar input {
  width: 100%;
  max-width: 600px;

  padding: 15px 20px;

  border-radius: 30px;
  border: 1px solid #ccc;

  font-size: 16px;

  outline: none;

  transition: 0.3s;
}

.search-bar input:focus {
  border-color: #1db954;
}